/* --- Colors --- */
$primaryColor: #001529;
// $secondaryColor: #e7ab6b;
$secondaryColor: #F97316;
$tertiaryColor: #90ee90;




/*-- Font-Weight --- */
$primaryWeight: 900;
$secondaryWeight: 600;
$tertiaryWeight: 400;